.body-list-comunication-none, 
.body-list-team-none, 
.body-list-critical-none,
.body-list-problem-none,
.body-list-flexibility-none,
.body-list-time-none {
    display: none;
    
}

.body-list-comunication, 
.body-list-team, 
.body-list-critical,
.body-list-problem,
.body-list-flexibility,
.body-list-time {
    display: block;
    list-style-type: none;
    margin: 0 auto;
}