/*Casuta de cautare*/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#search-bar ul {
    list-style-type: none;
}

#search-input {
    width: 400px;
    height: 30px;
    padding: 10px;
    border: 1px solid rgb(104, 64, 204);
    border-radius: 20px;
    font-size: 1.3rem;
    color: rgb(104, 64, 204);
    font-weight: bolder;
}


.list-term {
    padding: 10px;
    font-weight: bold;
    color: rgb(104, 64, 204);
}