/* meniu.css */
.desktop-menu {
    background-color: rgb(44, 44, 56);
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
   
   
}

.desktop-menu img {
    width: 80px;
    height: 55px;
    margin-left: 40px;
}

.menu-items-hide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
    z-index: 20;
}

.menu-items {
    display: none;
}

.item-menu {
    color: white;
    text-decoration: none;
    width: 95px;
    margin: 0 5px;
    text-align: center;
    padding: 5px 0;
}

.item-menu:active {
    background-color: rgb(255, 217, 0);
}

.item-menu:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    border-radius: 5px;
}

.item-menu:active {
    color: rgb(255, 255, 255);
}

.menu-bars {
    width: 50px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 40px;
  
    padding: 10px;
    border-radius: 20px;
    user-select: none;
}

.bar-1-arrow, .bar-2-arrow, .bar-3-arrow {
    background-color: white;
    width: 50px;
    height: 5px;
    transition-duration: 0.3s;
}

.bar-1-arrow {
    transform: rotate(45deg) translate(5px, 12px);
}

.bar-2-arrow {
    margin: 5px 0;
}

.bar-3-arrow {
    transform: rotate(-45deg) translate(5px, -12px);
}

.bar-1, .bar-3 {
    transform: none;
}

.bar-2 {
    margin: 10px 0;
}


.menu-bars {
    display: none;

}

/* Media query for mobile view */
@media screen and (max-width: 1000px) {
    .menu-items-hide {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 105px;
        right: -120px;
        background-color: rgb(44, 44, 56);
        padding: 10px 90px 10px 20px;
        border-radius: 20px;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 105px;
        right: -120px;
        background-color: rgb(44, 44, 56);
        padding: 10px 10px 10px 20px;
        border-radius: 20px;
    }

    .item-menu {
        margin: 20px 60px;
        width: 100%;
    }
}