

#background-protofolio-items {
height: 100vh;
background-color: #2c2c38;
margin-bottom: 10px;
}

.my-portfolio {
    width: 95%;
    background-color: #2c2c38;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 30px 2% 60px 2%;
    
    
}


.portfolio-sides {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    
}


.type-of-project-starter {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: 5;
    
}

.background-starter {
    background-color: rgb(254, 227, 9);
    
}

.background-starter-none {
    background-color: rgba(95, 95, 95, 0);
    border-top: 1px solid white;
    
   
}

.type-of-project-chalanging {
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.background-chalange {
    background-color: rgb(254, 227, 9);
}

.background-chalange-none {
    background-color: rgba(95, 95, 95, 0);
    border-top: 1px solid white;
   
}

.starter-project {
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    
   
  
    
}

.chalange-project {
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.starter-project-none {
    display: none;
}

.chalange-project-none {
    display: none;
}

.color-starter {
    color: #2c2c38;
}

.color-starter-none {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.color-chalange {
    color: #2c2c38;
}

.color-chalange-none {
    color: rgb(255, 255, 255);
}


.title-projects-color {
    color: rgb(255, 255, 255);
}










.portfolio-items {
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    text-align: center;
    padding: 30px 0px;
    height: auto;
}



#size-portofolio {
    border-radius: 20px;
    width: 250px;
    height: 250px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portofolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.buttons-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 5px;
}


/*Tehnologii utilizate*/
.tech-used {
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tech-size {
    width: 30px;
    margin: 5px;
    padding: 0px 5px;
   
}

.tech-size-node {
    width: 45px;
    margin: 5px;
    padding: 0px 5px;
}

.button-git {
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
    padding: 10px;
    width: 30px;
    cursor: pointer;
}

.button-git:hover {
    background-color: rgb(255, 255, 255);
}

.color-link-project a {
    color: rgb(254, 227, 9);
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
}

.color-link-project a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

@media screen and (max-width: 815px) {
    #background-protofolio-items {
        height: 100%;
     
        }
    
}