#background-skills {
   
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #2c2c38;
    padding: 10px 0;
    
    margin: 0 auto;
    color: white;
}



@media screen and (max-width: 1050px) {
    #background-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        background-color: #1717d700;
         padding: 10px 0;
         border-radius: 20px;
         margin: 10px 0;
         color: white;
     }
}
